/* https://www.color-hex.com/color-palette/99157 */
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  background-color: #181818;
  color: white;
  font-family: 'Verdana', 'Arial', sans-serif;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Mode Styling */
body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

/* Headings */
h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

/* Paragraphs */
p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Images & Figures */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 10px 0;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 0.9em;
  padding-bottom: 20px;
  text-align: center;
}

/* Links */
a {
  color: #00A9E0;
  text-decoration: none;
  font-size: 1em;
}

a:hover {
  color: #f0a500;
  text-decoration: underline;
}

/* Bullet Lists */
ul, ol {
  margin: 0 0 10px 10px;
  padding-left: 10px;
  list-style-position: outside;
}

li {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Theme Toggle Button */
.theme-toggle {
  display: inline-flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
}

.theme-toggle i {
  margin-right: 5px;
}

.theme-toggle input {
  display: none;
}

#theme-toggle-checkbox:checked + #theme-icon {
  display: none;
}

#theme-toggle-checkbox:checked + #theme-icon + .fas.fa-sun {
  display: inline;
}

/* Hide icons initially */
#theme-icon {
  display: inline;
}

.fas.fa-sun {
  display: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  body {
    padding: 15px;
    font-size: 15px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.2em;
  }

  .theme-toggle {
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

  figcaption {
    text-align: center;
  }

  ul, ol {
    margin-left: 10px;
    padding-left: 10px;
  }
}
